<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
<%inherit file="main.html" />

<%block name="pagetitle">${_("Notes")}</%block>
<%block name="headextra">
    <%static:css group='style-course-vendor'/>
    <%static:css group='style-course'/>
    <%static:js group='courseware'/>
    <style>
        .edxnotes-item {
            padding-top: 2em;
            margin-top: 2em;
            border-top: 1px solid #ccc;
        }
        .edxnotes-item:first-child {
            padding-top: 0;
            margin-top: 0;
            border-top: 0;
        }
        .edxnotes-item:after{
            content: '';
            display:block;
            clear: both;
            height: 0;
        }
        .col-left {
            float: left;
            width: 73%;
        }
        .col-right {
            float: right;
            width: 23%;
        }
        .note-text {
            background-color: #F5E4D1;
        }
        .note-quote {
            background-color: #F6E0A0;
        }
        h6 {
            color: blue;
            text-transform: uppercase;
        }
        p {
            color: grey;
        }
    </style>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='edxnotes'" />

<section class="container">
    <div class="edxnotes-wrapper">
        <h1>${_('Notes')}</h1>
        <section id="edxnotes-notes-list">${_('You do not have any notes.')}</section>
</section>


## Include Underscore templates
<%block name="header_extras">
% for template_name in ["note-item"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="edxnotes/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
<script type="text/javascript">
    (function (require) {
        require(['js/edxnotes/views/notes_page'], function (NotesFactory) {
            var pageView = new NotesFactory(
                document.getElementById('edxnotes-notes-list'),
                ${notes}
            );
        });
    }).call(this, require || RequireJS.require);
</script>
</%block>


## <dl>
##     % if user:
##         <dt>username</dt>
##         <dd>${user.username}</dd>
##         <dt>email</dt>
##         <dd>${user.email}</dd>
##     % endif
##     % if course:
##         <dt>courseId</dt>
##         <dd>${course.id}</dd>
##     % endif
##         <dt>storage</dt>
##         <dd>${storage}</dd>
##         <dt>token</dt>
##         <dd>${token}</dd>
##         <dt>debug</dt>
##         <dd>${debug}</dd>
##         <dt>notes</dt>
##         <dd>${notes}</dd>
##     </dl>
## </div>
