<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
<%inherit file="main.html" />

<%block name="pagetitle">${_("Notes")}</%block>
<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
<%static:js group='courseware'/>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='edxnotes'" />

<section class="container">
    <div class="edxnotes-wrapper">
        <h1>${_('Notes')}</h1>
        <section>${_('You do not have any notes.')}</section>
        <dl>
        % if user:
            <dt>username</dt>
            <dd>${user.username}</dd>
            <dt>email</dt>
            <dd>${user.email}</dd>
        % endif
        % if course:
            <dt>courseId</dt>
            <dd>${course.id}</dd>
        % endif
            <dt>storage</dt>
            <dd>${storage}</dd>
            <dt>token</dt>
            <dd>${token}</dd>
            <dt>debug</dt>
            <dd>${debug}</dd>
            <dt>notes</dt>
            <dd>${notes}</dd>
        </dl>
    </div>
</section>

